body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.header, .footer {
  height: 72px;
  background-color:#1F2937;
}

.footer {
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.links {
  display: flex;
  gap: 32px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.welcome-section {
  display: flex;
  background-color: #1F2937;
  height: 144px;
}

.information-section {
  display: flex;
  background-color: #d3d3d3;
  height: 144px;
}

.quote-section {
  display: flex;
  background-color: #E5E7EB;
  height: 144px;
}

.cta {
  display: flex;
  background-color: #d3d3d3;
  height: 144px;
}