* {
  outline: 2px solid red;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.header, .footer {
  height: 72px;
  background-color:#1F2937;
}

.footer {
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.links {
  display: flex;
  gap: 32px;
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 800;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.welcome-section {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
  gap: 100px;
}

.greeting {
  display: flex;
  flex-direction: column;
}

#main-title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-top: 0;
  margin-bottom: 0;
}

#subtitle {
  font-size: 18px;
  color: #E5E7EB;
}

.welcome-signup {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 8px;
  width: 100px;
  padding: 8px;
  font-weight: 700;
}

.greeting-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 800px;
  height: 200px;
  background-color: grey;
  color: white;
}

.information-section {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.information-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  padding: 48px;
}

.info-box-container {
  display: flex;
  padding: 0px 0px 48px 0px;
  flex-wrap: wrap;
  gap: 48px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  text-align: center;
}

img {
  border: 3px solid blue;
  border-radius: 8px;
  height: 100px;
  width: 100px;
}

.quote-section {
  display: flex;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.main-quote {
  font-size: 36px;
  font-weight:300;
  font-style: italic;
  color: #1f2937;
}

.quote-attribution {
  text-align: right;
  font-weight: 700;
  font-size: 18px;
}

.cta {
  display: flex;
  background-color: #d3d3d3;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #3882F6;
  border-radius: 8px;
  width: 900px;
  color: white;
}

.cta-title {
  font-weight: 700;
  font-size: 24px;
}

.cta-subtitle {
  font-weight: 300;
}

.cta-title, .cta-subtitle {
  width: 500px;
}

.cta-signup {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  width: 100px;
  padding: 8px;
  font-weight: 700;
}